#article-container {
    max-width: 45%;
    min-width: 45%;
}

#notes {
    position: fixed;
    height: 150px;
    width: 400px;    
    right: 150px;
    background:  rgb(27, 27, 27);
    padding: 5px;
    color: white;
    
}

#articles {
    width: 100%;
}
body {
    background: rgb(27, 27, 27);
}



.row {
    width: 75;
}

#saveArticle, #addNote, #seeNote, #articleLink, #savenote, #deleteNote, #unsaveArticle   {
   padding: 10px;
   background: rgb(33, 150, 243);
   color: white;
   box-shadow: 0 1px 4px rgba(0,0,0,0.4);
   border-radius: 0.25rem;
   transition: all 0.4s;
   white-space: nowrap;   
   border: none;
   margin-right: 5px

   
}
#deleteNote {
    font-size: 15px;
    padding: 3px;
    margin-left: 5px

}

#saveArticle:hover, #addNote:hover, #seeNote:hover, #articleLink:hover, #savenote:hover, #deleteNote:hover, #unsaveArticle:hover {
    background: black;
    color: white
}

#saved.nav-link:hover{
    color: rgba(10,110,189)
}



h2 {
    color: white;
}

h2:hover {
    color: rgb(33, 150, 243);
}

img {
    height: 200px;
    width: 400
}

p {
    font-size: 20px;    
    color: #FFF0F5;
}

.navbarContainer {
    background: rgba(85, 85, 85, 0.705);   
    
    
}

.navbar-brand {
    color: white
}

#time{
    font-size: 15px;    
}

#saved {
color: rgb(33, 150, 243);
}

#articlesCol {
    width: 50%;
}
.jumbotron {
    background: #096394;
    color: white;
    height: 200px;
    text-align: center;
}

.btn:hover {
    background: black;
    color: white
}

@media only screen and (max-width: 400px){ 
    #notes  {
        right: 5px;
        width: 25%;
    }
    }

@media only screen and (max-width: 500px){ 
    #notes  {
        right: 5px;
        width: 25%;
    }
    }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){ 
    #notes  {
        right: 10px;
        width: 35%;
    }
    }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    #notes  {
        right: 10px;
        width: 35%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .card-body {
    margin-top: 40px;
    width: 60%;
    display: inline-block;  
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{  #newscrape, #clearscrape {
    
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{.card-body {
    margin-top: 40px;
    width: 50%;
    display: inline-block;  
    }}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) 
{.card-body {
    margin-top: 40px;
    width: 50%;
    display: inline-block;  
    }}
  




