#article-container {
    max-width: 45%;
    min-width: 45%;
}

#notes {
    position: fixed;
    height: 150px;
    width: 200px;
    margin-right: 100px;
    right: 250px;
    background:  rgb(27, 27, 27);
    padding: 5px;
    color: white;
    
}

#articles {
    width: 150%;
}
body {
    background: rgb(27, 27, 27);
}



.row {
    width: 75;
}

#saveArticle, #addNote, #seeNote, #articleLink, #savenote   {
   padding: 10px;
   background: rgb(33, 150, 243);
   color: white;
   box-shadow: 0 1px 4px rgba(0,0,0,0.4);
   border-radius: 0.25rem;
   transition: all 0.4s;
   white-space: nowrap;   
   border: none;
   margin-right: 5px

   
}

#saveArticle:hover, #addNote:hover, #seeNote:hover, #articleLink:hover, #savenote:hover {
    background: black;
    color: white
}

h2 {
    color: white;
}

h2:hover {
    color: #801336;
}

img {
    height: 200px;
    width: 400
}

p {
    font-size: 20px;    
}

.navbarContainer {
    background: rgba(85, 85, 85, 0.705);
    
    width: 100%
    
}

.navbar-brand {
    color: white
}

#saved {
color: rgb(33, 150, 243);
}

#articlesCol {
    width: 50%;
}
.jumbotron {
    background: #096394;
    color: white;
    height: 200px;
    text-align: center;
}

.btn:hover {
    background: black;
    color: white
}




